name: 'Manual'
permissions: {}
on:
  workflow_call:
    secrets:
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
jobs:
  manual:
    name: 'Generate manual'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Install emacs'
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: 'Install texlive'
        run: |
          sudo apt update
          sudo apt install -y texlive
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: 'Set version'
        if: github.ref_type == 'branch'
        run: |
          v=$(git describe)
          for manual in docs/*.org; do
            sed -i -E $manual \
                -e "s|^(#\+subtitle: for version) .*|\1 $v|" \
                -e "s|^(This manual is for [^ ]* version).*|\1 $v.|"
          done
      - name: 'Configure credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
      - name: 'Publish manual'
        run: |
          make ${{ github.ref_type == 'tag' && 'release' || 'publish' }}
