name: 'Manual'
permissions: {}
on:
  workflow_call:
    secrets:
      rclone_config:
        required: true
jobs:
  manual:
    name: 'Generate manual'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Install emacs'
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: 'Install dependencies'
        run: |
          sudo apt update
          sudo apt install -y texlive rclone
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: 'Set version'
        if: github.ref_type == 'branch'
        run: |
          v=$(git describe)
          for manual in docs/*.org; do
            sed -i -E $manual \
                -e "s|^(#\+subtitle: for version) .*|\1 $v|" \
                -e "s|^(This manual is for [^ ]* version).*|\1 $v.|"
          done
      - name: 'Configure rclone'
        run: |
          printf "${{ secrets.rclone_config }}" |
          base64 --decode > "${{ runner.temp }}/rclone.conf"
      - name: 'Publish manual'
        run: |
          make ${{ github.ref_type == 'tag' && 'release' || 'publish' }}
        env:
          RCLONE_ARGS: --config "${{ runner.temp }}/rclone.conf"
