name: 'Publish'
permissions: {}
on:
  workflow_call:
    secrets:
      rclone_config:
        required: true
jobs:
  publish:
    name: 'Publish page'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Install emacs'
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: 'Install dependencies'
        run: |
          sudo apt update
          sudo apt install -y rclone
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: 'Configure rclone'
        run: |
          printf "${{ secrets.rclone_config }}" |
          base64 --decode > "${{ runner.temp }}/rclone.conf"
      - name: 'Generate page'
        run: |
          make html
      - name: 'Publish page'
        run: |
          make publish
        env:
          RCLONE_ARGS: --config "${{ runner.temp }}/rclone.conf"
