name: 'Publish'
permissions: {}
on:
  workflow_call:
    secrets:
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
env:
  pwd: ${{ github.event.repository.name }}
jobs:
  publish:
    name: 'Publish page'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Install Emacs'
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v5
        with:
          path: ${{ env.pwd }}
          persist-credentials: false
      - name: 'Generate page'
        working-directory: ${{ env.pwd }}
        run: LOAD_PATH="-L ../org/lisp" make html
      - name: 'Configure credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
      - name: 'Publish page'
        working-directory: ${{ env.pwd }}
        run: make publish
