name: 'Readme'
permissions: {}
on:
  workflow_call:
    secrets:
      rclone_config:
        required: true
jobs:
  manual:
    name: 'Export readme'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Install emacs'
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: 'Install dependencies'
        run: |
          sudo apt update
          sudo apt install -y rclone
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: 'Export readme'
        run: make html
      - name: 'Configure rclone'
        run: |
          echo "${{ secrets.rclone_config }}" |
          base64 --decode > "${{ runner.temp }}/rclone.conf"
      - name: 'Publish readme'
        run: make publish
        env:
          RCLONE_ARGS: --config "${{ runner.temp }}/rclone.conf"
