name: 'Statistics'
permissions: {}
on:
  workflow_call:
    secrets:
      rclone_config:
        required: true
env:
  pwd: ${{ github.event.repository.name }}
jobs:
  statistics:
    name: 'Generate statistics'
    # ubuntu-24.04 removed python2
    runs-on: ubuntu-22.04
    steps:
      - name: 'Install dependencies'
        run: |
          sudo apt update
          sudo apt install -y gnuplot python2 rclone emacs
      - name: 'Install gitstats'
        uses: actions/checkout@v6
        with:
          repository: tarsius/gitstats
          path: _gitstats
          persist-credentials: false
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v6
        with:
          path: ${{ env.pwd }}
          fetch-depth: 0
          persist-credentials: false
      - name: 'Configure timezone'
        run: sudo timedatectl set-timezone Europe/Zurich
      - name: 'Generate statistics'
        working-directory: ${{ env.pwd }}
        # GITSTATS must be relative to our docs/ directory.
        run: GITSTATS=../../_gitstats/gitstats make stats
      - name: 'Configure rclone'
        run: |
          echo "${{secrets.rclone_config}}" |
          base64 --decode > "${{runner.temp}}/rclone.conf"
      - name: 'Publish statistics'
        working-directory: ${{ env.pwd }}
        run: make stats-upload
        env:
          RCLONE_ARGS: --config "${{runner.temp}}/rclone.conf"
