name: 'Statistics'
permissions: {}
on:
  workflow_call:
    secrets:
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
env:
  pwd: ${{ github.event.repository.name }}
jobs:
  statistics:
    name: 'Generate statistics'
    # ubuntu-24.04 removed python2
    runs-on: ubuntu-22.04
    steps:
      - name: 'Install gitstats dependencies'
        run: |
          sudo apt update
          sudo apt install -y gnuplot python2
      - name: 'Install gitstats'
        uses: actions/checkout@v5
        with:
          repository: tarsius/gitstats
          path: _gitstats
          persist-credentials: false
      - name: 'Checkout ${{ github.repository }}'
        uses: actions/checkout@v5
        with:
          path: ${{ env.pwd }}
          fetch-depth: 0
          persist-credentials: false
      - name: 'Configure timezone'
        run: sudo timedatectl set-timezone Europe/Zurich
      - name: 'Generate statistics'
        working-directory: ${{ env.pwd }}
        # GITSTATS must be relative to our docs/ directory.
        run: GITSTATS=../../_gitstats/gitstats make stats
      - name: 'Configure credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
      - name: 'Publish statistics'
        working-directory: ${{ env.pwd }}
        run: make stats-upload
